<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
 

<!-- Css Styles -->
<link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/user/css/font-awesome.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/user/css/elegant-icons.css}" type="text/css">
<link rel="stylesheet" th:href="@{/user/css/nice-select.css}" type="text/css">
<link rel="stylesheet" th:href="@{/user/css/jquery-ui.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/user/css/owl.carousel.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/user/css/slicknav.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/user/css/style.css}" type="text/css">
<!-- Css Comments -->
<link rel="stylesheet" th:href="@{/user/css/style2.css}" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">