<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="/index"><img th:src="@{/user/img/namphuong1.png}" style="height:120px; width:150px" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: Công viên phần mềm Quang Trung - quận 12 - TP HCM</li>
                        <li>Phone: 0123456789</li>
                        <li>Email: namphuongbookstore@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Link hữu ích</h6>
                    <ul>
                        <li><a href="#">Hệ thống</a></li>                    
                        <li><a href="#">Về chúng tôi</a></li>
                        <li><a href="#">Bảo mật cửa hàng</a></li>
                        <li><a href="#">Thông tin giao hàng</a></li>
                        <li><a href="#">Điều khoản và chính sách</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Liên hệ</a></li>                    
                        <li><a href="#">Các dự án</a></li>
                        <li><a href="#">Sự đổi mới</a></li>
                        <li><a href="#">Sự cam kết</a></li>
                        <li><a href="#">Dịch vụ của chúng tôi</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Nhận thông báo về Phương Nam Bookstore</h6>
                    <form action="#">
                        <input type="text" placeholder="Nhập email của bạn">
                        <button type="submit" class="site-btn">Đăng ký</button>
                    </form>
                   <!--  <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

