<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>NPSHOP | Trang chủ</title>
<link rel="icon" type="image/x-icon" th:href="@{/user/img/namphuong.png}">

<th:block th:include="@{/fragments/css}"></th:block>

</head>
<body>
	<th:block th:include="@{/fragments/header}"></th:block>

	<!-- Categories Section Begin -->
	<!-- <section class="categories">
		<div class="container">
			<div class="row" >
				<div class="categories__slider owl-carousel">
					<div class="col-lg-3" th:each="category : ${categories}">
						<div class="categories__item set-bg" th:data-setbg="|/user/img/categories/${category.id}.png|">
							<h5>
								<a th:href="|/shop-grid/${category.slug}|" th:text="|${category.name}|"> th:text=${category.name}></a>
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- Categories Section End -->
	
	<!-- Categories Section Begin -->
	<section class="categories">
		<div class="container">
			<div class="row">
				<!--<div class="categories__slider owl-carousel">
					<div class="col-lg-3" th:each="category : ${categories}">
						<div class="categories__item set-bg" th:data-setbg="|/user/img/categories/${category.id}.png|">
							<h5>
								<a th:href="|/shop-grid/${category.slug}|" th:text="|${category.name}|"> th:text=${category.name}></a>
							</h5>
						</div>
					</div>
				</div> -->

				<div class="col-lg-8">
					<div id="carouselExampleIndicators" class="carousel slide"
						data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carouselExampleIndicators" data-slide-to="0"
								class="active"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active" style="height: 350px;">
								<img src="/user/img/categories/banner3.png" class="h-100 w-100" alt="...">
							</div>
							<div class="carousel-item" style="height: 350px;">
								<img src="/user/img/categories/banner4.png" class="h-100 w-100" alt="...">
							</div>
							<div class="carousel-item" style="height: 350px;">
								<img src="/user/img/categories/banner5.jpg" class="h-100 w-100" alt="...">
							</div>
						</div>
						
					</div>
					
				</div>
				<div class="col-lg-4">
				<div class="product-offer mb-30" style="height: 195px;">
					<img class="img-fluid" src="/user/img/categories/banner1.jpg" alt="" style="height:185px;">
					
				</div>
				<div class="product-offer mb-30" style="height: 175px;">
					<img class="img-fluid" src="/user/img/categories/banner2.png" alt="">
					
				</div>
			</div>
			</div>
		</div>
	</section>
	<!-- Categories Section End -->

	<!-- Featured Section Begin -->
	<section class="featured spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2 th:text="#{user.Featuredproducts}">Sản phẩm nổi bật</h2>
					</div>
					<div class="featured__controls">
						<ul>
						<!--  -->
							<li class="" data-filter=".all">All</li>
							<li class="" th:data-filter="@{'.' + ${productType.slug}}" th:each="productType : ${productTypes}" th:text="${productType.name}"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row featured__filter">
				
				<div th:class="@{'col-lg-3 col-md-4 col-sm-6 mix all ' + ${product.productType.slug}}" th:each="product : ${products}">
					<div class="featured__item">
						<div style="cursor: pointer;" th:attr="onclick=|window.location.href='/shop-details/${product.slug}'|" class="featured__item__pic set-bg"
							th:data-setbg="|/user/img/product/${product.imgName}|">
							<div class="product__discount__percent" th:if="${product.discount > 0}" th:text="|-${product.discount}%|"></div>
							<ul class="featured__item__pic__hover">
								<li><a href="#"><i class="fa fa-heart"></i></a></li>
								<li><a href="#"><i class="fa fa-retweet"></i></a></li>
								<li><a th:attr="onclick=|addToCart('${product.id}')|"><i class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
						<div class="featured__item__text">
							<span th:text="|${product.category.name}|"></span>
							<h6>
								<a th:href="|/shop-details/${product.slug}|" th:text=${product.name}></a>
							</h6>
							<div class="product__item__price" th:unless="${product.discount > 0}" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT') + ' đ'}"></div>
                            <div class="product__item__price" th:if="${product.discount > 0}">[[${#numbers.formatDecimal(product.price - (product.price * product.discount / 100), 0, 'COMMA', 0, 'POINT') + ' đ'}]] 
                            	<span th:if="${product.discount > 0}" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT') + ' đ'}"></span>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Featured Section End -->

	<th:block th:include="@{/fragments/footer}">
	</th:block>
    <!-- Js Plugins -->
    <script th:src="@{/user/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/user/js/bootstrap.min.js}"></script>
    <script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/user/js/jquery-ui.min.js}"></script>
    <script th:src="@{/user/js/jquery.slicknav.js}"></script>
    <script th:src="@{/user/js/mixitup.min.js}"></script>
    <script th:src="@{/user/js/owl.carousel.min.js}"></script>
    <script th:src="@{/user/js/main.js}"></script>
</body>

</html>