<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>NP | Hồ sơ</title>
<link rel="icon" type="image/x-icon" th:href="@{/user/img/namphuong.png}">

<link rel="stylesheet" th:href="@{/user/css/profile.css}" type="text/css">
<th:block th:include="@{/fragments/css}"></th:block>

</head>
<body>
	<th:block th:include="@{/fragments/header}"></th:block>

    <div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" th:href="|/profile/${session.currentUser.username}|">Hồ sơ</a>
        <a class="nav-link" th:href="|/security/${session.currentUser.username}|">Bảo mật</a>
        <a class="nav-link" th:href="|/my-order/${session.currentUser.username}|">Đơn hàng</a>
    </nav>
    <hr class="mt-0 mb-4">
    <form th:object="${userRequest}" action="/profile/change" method="post" enctype="multipart/form-data">
    <div class="row">
    	<div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Ảnh hồ sơ</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img id="userImgUpload" class="img-account-profile rounded-circle mb-2" th:src="|/user-image/${session.currentUser.imgUrl}|" alt="">
                    <br />
                    <div class="form-group text-start">
                        <label for="inputFile" class="fw-bold">Avatar</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputFile" name="attach"
                                    accept="image/png, image/jpeg">
                                <label class="custom-file-label" for="inputFile" style="text-align: left;">Choose image</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Upload</span>
                            </div>
                        </div>
                    </div>
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <!-- <button class="btn btn-primary" type="button">Upload new image</button> -->
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Thông tin tài khoản</div>
	                <div class="card-body">
	                    
	                    	<!-- Form Row-->
	                        <div class="row gx-3 mb-3">
	                        	<!-- Form Group (username)-->
	                            <div class="col-md-6">
	                                <label class="small mb-1" for="inputUsername">Username</label>
		                            <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="username"
		                            	th:field="*{username}" disabled>
	                            </div>
	                        </div>
	                        <!-- Form Group (fullname)-->
	                        <div class="mb-3">
	                            <label class="small mb-1" for="inputFirstName">Fullname</label>
                                <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your full name" value="Valerie"
                                	name="fullname" th:field="*{fullname}">
	                        </div>
	                        <!-- Form Group (email address)-->
	                        <div class="mb-3">
	                            <label class="small mb-1" for="inputEmailAddress">Email </label>
	                            <input class="form-control" id="inputEmailAddress" type="email" placeholder=" Your email " value="name@example.com"
	                            	name="email" th:field="*{email}">
	                        </div>
	                        <!-- Form Row-->
	                        <div class="row gx-3 mb-3">
	                            <!-- Form Group (phone number)-->
	                            <div class="col-md-6">
	                                <label class="small mb-1" for="inputPhone">Created Day</label>
	                                <input class="form-control" id="inputPhone" type="tel" placeholder="Created Day"
	                                	th:value="${#dates.format(userRequest.createdDate, 'dd-MMM-yyyy')}" disabled>
	                            </div>
	                        </div>
	                        <!-- Save changes button-->
	                        <button class="btn btn-primary" type="submit">Save changes</button>
	                </div>
            	</div>
        	</div>
    	</div>
        </form>
	</div>

	<th:block th:include="@{/fragments/footer}"></th:block>
	
    <script th:src="@{/user/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/user/js/bootstrap.min.js}"></script>
    <script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/user/js/jquery-ui.min.js}"></script>
    <script th:src="@{/user/js/jquery.slicknav.js}"></script>
    <script th:src="@{/user/js/mixitup.min.js}"></script>
    <script th:src="@{/user/js/owl.carousel.min.js}"></script>
    <script th:src="@{/user/js/main.js}"></script>
    <script>
	 	// Hien thi anh khi chon file anh khac
	    $(document).on('input', function () {
			$('#inputFile').change(function () {
				showImageThumbnail(this);
			});
		});
	
		function showImageThumbnail(fileInput) {
			file = fileInput.files[0];
			reader = new FileReader();
	
			reader.onload = function (e) {
				$('#userImgUpload').attr('src', e.target.result);
			};
	
			reader.readAsDataURL(file);
		};
    </script>
</body>

</html>