<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>NPSHOP | Đăng ký</title>
<link rel="icon" type="image/x-icon" th:href="@{/user/img/namphuong.png}">

<th:block th:include="@{/fragments/css}"></th:block>

</head>
<body>
<th:block th:include="@{/fragments/header}"></th:block>

<div class="container register__page">
    <div class="col-sm-8 m-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <h4 class="card-title text-center text-uppercase font-weight-bold" style="color: #5dc0dd;">Đăng ký</h4>
                 	<h3 style="color:red" th:text="${message}"></h3>
                <form method = "post" th:object="${userRequest}" th:action="@{/register}">
                    <div class="form-floating mb-3">
                        <label for="floatingInput">Tên đăng nhập</label>
                        <input type="text" th:field="*{username}" class="form-control" name="username" id="floatingInput" placeholder="">
                    	<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingInput">Email</label>
                        <input type="email" class="form-control" name="email" id="floatingInput" placeholder="">
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingInput">Họ và tên</label>
                        <input type="text" th:field="*{fullname}" class="form-control" name="fullname" id="floatingInput" placeholder="">
                        <p th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}" style="color: red"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Mật khẩu</label>
                        <input type="password" class="form-control" name="hashPassword" id="newPassword"
                        required placeholder="">
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" required id="confirmPassword" oninput="checkPasswordMatch(this);">
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="mb-3" style="font-size: 14px;">
                            Bằng việc đăng ký, bạn đã đồng ý với <a href="#">điều khoản và chính sách bảo mật</a> của chúng tôi!
                        </div>
                    </div>
                    <div class="d-grid text-center">
                        <button class="btn btn-success btn-login text-uppercase fw-bold" name="send" type="submit">
                            Đăng ký
                        </button>
                    </div>
                    <div class="d-grid text-center mt-4 fs-7">
                    	<div>Đã có tài khoản?<a th:href="@{/login}"> Đăng nhập</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:include="@{/fragments/footer}">
</th:block>
<!-- Js Plugins -->
<script th:src="@{/user/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/user/js/bootstrap.min.js}"></script>
<script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/user/js/jquery-ui.min.js}"></script>
<script th:src="@{/user/js/jquery.slicknav.js}"></script>
<script th:src="@{/user/js/mixitup.min.js}"></script>
<script th:src="@{/user/js/owl.carousel.min.js}"></script>
<script th:src="@{/user/js/main.js}"></script>
<script type="text/javascript">
function checkPasswordMatch(fieldConfirmPassword) {
	if (fieldConfirmPassword.value != $("#newPassword").val()) {
		fieldConfirmPassword
				.setCustomValidity("Mật Khẩu Không hợp lệ!");
	} else {
		fieldConfirmPassword.setCustomValidity("");
	}
}
</script>
</body>

</html>